<!DOCTYPE html>
<html lang="ko">
  <%- include('head') %>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="join-form">
        <form
          class="form-horizontal"
          id="join-form"
          action="/auth/join"
          method="post"
        >
          <div class="form-group">
            <label for="email" class="col-sm-5 control-label">Email</label>
            <div class="col-sm-5">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                name="email"
                required
                autofocus
              />
            </div>
          </div>
          <div class="form-group">
            <label for="nickname" class="col-sm-5 control-label"
              >NickName</label
            >
            <div class="col-sm-5">
              <input
                type="text"
                class="form-control"
                id="nickname"
                placeholder="NickName"
                name="nickname"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-5 control-label"
              >Password</label
            >
            <div class="col-sm-5">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                name="password"
                required
              />
            </div>
          </div>
          <div class="form-group" style="margin-top: 50px">
            <button type="submit" class="btn btn-info" style="width: 170px">
              회원가입
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get("error")) {
          alert("이미 존재하는 이메일입니다.");
        }
      };
    </script>
  </body>
</html>
