body {
  padding-top: 70px;
  margin: 0 auto;
}
.form-horizontal {
  text-align: center;
}
textarea {
  border-radius: 4px;
  width: 500px;
  height: 100px;
  padding: 10px;
  border: 1px solid silver;
  resize: vertical;
}
.form-footer {
  float: right;
}
img {
  max-width: 100%;
  height: auto;
}
.img-preview {
  height: auto;
  overflow: hidden;
}
.post-img {
  padding: 10px;
}
.like {
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.last-block {
  text-align: center;
  padding-bottom: 20px;
}
.hex {
  color: #f55354;
}
.dropdown {
  float: right;
  padding-right: 5px;
}
.panel-head {
  padding-top: 10px;
  padding-left: 10px;
}
.follow {
  padding-top: 5px;
  padding-bottom: 5px;
}
