body {
  padding-top: 70px;
}
.container {
  padding: 100px;
  width: 100%;
  margin: 0 auto;
}
textarea {
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid silver;
  resize: vertical;
}
.form-footer {
  float: right;
}
.form-group {
  text-align: center;
}
#img,
#update-img {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}
.img-preview {
  height: auto;
  overflow: hidden;
}
.post-img {
  padding: 10px;
}
.like {
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.last-block {
  text-align: center;
  padding-bottom: 20px;
}
.hex {
  color: #f55354;
}
.dropdown {
  float: right;
  padding-right: 5px;
}
.panel-head {
  padding-top: 10px;
  padding-left: 10px;
}
.follow {
  padding-top: 5px;
  padding-bottom: 5px;
}
.other-login {
  text-align: center;
}
.login-from-btn {
  margin: 2px;
}
